*{
    border:0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    height: 60%;
}
.main{
    height: 60px;
}
.nav{
    display: flex;
    background-color: black;
    color: white;
    padding: 3%;
    margin: 3%;
}
.logo{
    width: 3%;
    height: 3%;
}
#intro{
    padding-top: 2%;
}
#title{
    padding: 34px;
}
.nav-tag{
     background-color: black;
     color: white;
     padding-right: 4%;
    padding-left: 4%;

 }
.nav-tag:hover{
    border: 1px solid #ffffff;

}
main{
    padding: 3%;
    margin: 3%;
}
footer{
    background-color: black;
    display: flex;
    color: white;
    padding: 3%;
    margin: 3%;
}
.btn{
    color: white;
    background-color: black;
}
.icon{
    font-size: 75px;
}
th{
    padding: 3px;
    border: 1px solid black;
}
table{
    margin: 34px;
    width: 40%;
}
.data{
    margin: 34px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#Process, #BurTime, #ArrTime{
    border: 1px solid black;
}
label{
    padding:  0  30px  0 30px;
}
#add{
    margin-left: 20px;
    padding: 10px;
    background-color: #7fb6b6;
}
#add:hover{
border: 1px solid red;
}
#Process, #BurTime, #ArrTime {
padding: 10px;
}
.content{
    display: flex;
    flex-direction: row;

}
#graphic{
    width: 150px;
    height: 40px;
    background-color: #7fb6b6;
}
.sub-content{
    margin-top: 34px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#graphic:hover{
    border: 1px solid red;
}