*{
    border:0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    height: 60%;
}
.main{
    height: 60px;
}
.nav{
    display: flex;
    background-color: black;
    color: white;
    padding: 3%;
    margin: 3%;
}
.logo{
    width: 3%;
    height: 3%;
}
#intro{
    padding-top: 2%;
}
#title{
    padding: 34px;
}
.nav-tag{
     background-color: black;
     color: white;
     padding-right: 4%;
    padding-left: 4%;

 }
.nav-tag:hover{
    border: 1px solid #ffffff;

}
main{
    padding: 3%;
    margin: 3%;
}
footer{
    background-color: black;
    display: flex;
    color: white;
    padding: 3%;
    margin: 3%;
}
.btn{
    color: white;
    background-color: black;
}
.icon{
    font-size: 75px;
}
th{
    padding: 3px;
    border: 1px solid black;
}
table{
    margin: 34px;
    width: 40%;
}
.data{
    margin: 34px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#Process, #BurTime, #ArrTime{
    border: 1px solid black;
}
label{
    padding:  0  30px  0 30px;
}
#add{
    margin-left: 20px;
    padding: 10px;
    background-color: #7fb6b6;
}
#add:hover{
border: 1px solid red;
}
#Process, #BurTime, #ArrTime {
padding: 10px;
}
.content{
    display: flex;
    flex-direction: row;

}
#graphic{
    width: 150px;
    height: 40px;
    background-color: #7fb6b6;
}
.sub-content{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#graphic:hover{
    border: 1px solid red;
}

#average{
    padding:0 15px 0 15px ;
}
#box-1,#box-2, #box-3, #box-4{

    border: 1px solid black;
}
#graph{
    width: 100%;
    display: flex;
    flex-direction:column ;
}
#graph-1{
    width: 100%;
    display: flex;
}
#graph-2{
    width: 100%;
    display: flex;

}
#box-1{
    width: 10%;
    height: auto;

}
#box-2{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;

}
#box-3{
    width: 10%;

}
#box-4{
    width: 95%;
    display: flex;


}
.main-table{
    width: 50%;
}
#divi{
    width: 20px;
    height: auto;
    background-color: #ffe5e5;
    border: 1px solid black;
}
#divi2{
    width: 20px;
    height: auto;
    background-color: yellowgreen;
    border: 1px solid black;
}
#divid{
    display: flex;
    height: 100%;
    flex-direction: row;

}
#number {
    text-align: center;
    height: 20px;
    border: 1px solid black;

}
#number1{
    text-align: center;
    width: 20px;
    height: 20px;
    border: 1px solid black;

}
